<!DOCTYPE html>
<html lang="en" layout:decorate="list_layout"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link th:href="@{/css/list_declarant.css}" rel="stylesheet">
    <link rel="stylesheet" href="webjars/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">

    <title>Liste déclarations</title>
</head>

    <body>
     <div layout:fragment="content1">
         <h3 class="title mt-2 ">Liste des déclarations</h3>
        <form  method="get" th:action="@{declarations}">
            <div class="field has-addons ">
                <p class="control mt-2 mr-3">
                    Téléphone
                </p>
                <div class="field ">
                    <div class="control has-icons-left has-icons-right">
                        <label for="tel"></label>
                            <input id="tel" class="input" type="tel" name="telephone" th:value="${telephone}"
                                   placeholder="Chercher téléphone">

                        <span class="icon is-medium is-left">
                                        <i class="fas fa-phone fa-xs"></i>
                                    </span>
                        <span class="icon is-medium is-right">
                                        <i class="fas fa-search fa-xs"></i>
                                    </span>
                    </div>
                </div>
                <div class="control">
                    <button type="submit" class="button is-info ">
                        Chercher
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div layout:fragment="card-title">
        Déclaration
        <!--modal-->
        <div class="modal" id="myModal">
            <form method="post" th:action="@{versement}" >
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Modal Title</p>
                    <button class="delete" aria-label="close"></button>
                </header>
                <section class="modal-card-body">

                        <div class="field m-5">
                            <label class="label " for="datePaiement">Date de paiement </label>
                            <div class="control mb-3">
                                <input id="datePaiement"
                                       class="input" type="date" th:value="${paye.datePaiement}"
                                       name="datePaiement" >

                            </div>
                        </div>
                        <div class="field m-5">
                            <label class="label " for="montant">Montant paiement</label>
                            <div class="control  has-icons-left">
                                <input id="montant" class="input" type="number" step="1" name="montantPaiement" th:value="${paye.montantPaiement}"
                                       placeholder="Entrer le montant">
                                <span class="icon is-left">
                                    <i class="fas fa-money-bills"></i>
                                </span>
                                <span class="help is-danger " th:errors="${paye.montantPaiement}"></span>
                            </div>
                        </div>
                    <div class="field m-5">
                        <label for="tels" class="label">Confirmer le numéro</label>
                        <div class="control has-icons-right">
                            <div class="select is-rounded ">
                                    <select  id="tels" class="is-focused" name="telephone">
                                        <option th:text="${paye.declaration.declarant.telephone}"></option>
                                    </select>
                            </div>
                        </div>
                    </div>

                </section>
                <footer class="modal-card-foot">
                    <button class="button is-primary">Save changes</button>
                    <button class="button" id="closeModalButton">Cancel</button>
                </footer>
            </div>
            </form>
        </div>

        <!---modal--->
    </div>
    <table layout:fragment="content2" class="table mr-3 ma-table">
        <thead>
        <tr>
            <th><abbr title="ID">#</abbr></th>
            <th>Montant</th>
            <th>Date</th>
            <th>Etat</th>
            <th>Téléphone du déclarant</th>
            <th >
                <i class="   fas fa-tools" style="margin-left: 45%"></i>
            </th>
            <th class="is-hidden">fu</th>
        </tr>
        </thead>
        <tbody >
        <!--tr th:class="${declaration.isEmpty() ? 'subtitle is-5 has-text-centered has-text-info':'is-hidden'}">
            <td></td>
            <td></td>
            <td></td>

            <td  >
                Veuillez saisir le numéro complet du déclarant
            </td>
        </tr-->

        <tr th:each="d:${declaration}">
            <td th:text="${d.id}"></td>
            <td th:text="${d.montantDeclaration}"></td>
            <td th:text="${d.dateDeclarartion}"></td>
            <td th:text="${d.etat}"></td>
            <td th:text="${d.declarant.telephone}"></td>
            <td>
                <button  th:id="${d.etat   == 'IMPAYER' }? 'openModalButton':''"
                         th:class="${d.etat   == 'IMPAYER' }
                   ?    ' button   is-info ': 'button is-disabled   '">
                    <i class="fas fa-credit-card-alt mr-2" ></i>
                    Paiement
                </button>
            </td>
        </tr>
        </tbody>
    </table>


     <!--Pagination-->
     <a layout:fragment="content3"
       th:class="${currentPage ==  0 ?' is-hidden':'pagination-previous'}"
       th:href="@{declarants(page=${previousPage})}"
    >Previous</a>
    <a layout:fragment="content4"  th:href="@{declaration(page=${nextPage})}"
       th:class="${currentPage == lenghtPage  or currentPage == 0 ? 'is-hidden' : 'pagination-next '}"
    >Next page</a>
    <ul layout:fragment="content5" class="pagination-list">
        <li th:each="page,status:${pages}">
            <a th:class="${status.index   ==  currentPage ? 'pagination-link is-current':'pagination-link' }"
               th:text="${status.index}"
               th:href="@{declaration(page=${status.index})}"
            >
            </a>
        </li>
    </ul>
     <!--Modal-->



    </body>
    <style>

    </style>
</html>